<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-toggle [autoHide]="false">
                <ion-button><ion-icon name="menu" slot="icon-only"></ion-icon></ion-button>
            </ion-menu-toggle> -->
            <ion-menu-button [autoHide]="false"></ion-menu-button>
            <!-- <ion-back-button color=""></ion-back-button> -->
        </ion-buttons>
        <ion-title size="large"></ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="syncData()"><ion-icon name="refresh" slot="start"></ion-icon> Sync</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="w-full px-2 md:px-8 py-2">
        <div class="page-title ml-2">
            Aujourd'hui
        </div>

        <div class="my-8">
            <ngx-masonry [options]="gridOptions" [updateLayout]="updateMasonryLayout" [ordered]="true">
                <div ngxMasonryItem *ngFor="let task of tasks" class="p-1 sm:p-2 w-full sm:max-w-sm">
                    <app-task-card [task]="task"></app-task-card>
                </div>
            </ngx-masonry>

            <div *ngIf="tasks == undefined || tasks?.length === 0" class="py-4">
                <div class="max-w-xs bg-white rounded-lg flex flex-col items-center justify-center px-6 mx-10 aspect-square">
                    <ion-icon name="file-tray-outline" color="" class="text-8xl text-slate-200"></ion-icon>
                    <ion-text class="text-slate-400 font-normal text-base text-center leading-tight mt-4">Aucune tache pour <br> cette journée</ion-text>
                </div>
            </div>
        </div>

        <ion-fab slot="fixed" vertical="bottom" horizontal="center" class="lg:mb-8 lg:mr-8">
            <ion-fab-button (click)="addTask()" id="open-add-modal">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <!-- <ion-modal [keepContentsMounted]="true" trigger="open-add-modal" #addModal>
            <ng-template>
                <app-task-creation class="min-h-full"></app-task-creation>
            </ng-template>
        </ion-modal> -->
    </div>
</ion-content>
